  <header class="page-header bg-secondary">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <a href="/store/{{user.userName}}" id="store-btn" class="btn btn-info float-right">View Store</a>
          <h1 class="h4 text-uppercase"><span id="store-name">{{user.userName}}</span>'s Store</h1>
        </div><!-- /.col-->
      </div><!-- /.row-->
    </div><!-- /.container-->
  </header><!-- /.page-header -->

  <section class="section section-featured-products">
    <div class="container">
      <div class="row">

        <div class="col-sm-12 col-lg-4 mb-3">
          <h3 class="h5 text-uppercase">Edit Products</h3>
          <div class="card card-product">
            <ul class="list-group list-group-flush">
              {{#each user.Products}}
                <li class="list-group-item">{{this.productName}} <br><a href="#">Edit &rarr;</a></li>
              {{/each}}
            </ul>
          </div><!-- /.card -->

          <div class="card card-product">
            <a href="/addProducts"><button class="btn btn-block btn-primary">Add Products</button></a>
          </div><!-- /.card -->

          <div class="card card-product border-0">
            <form id="profile-image-form" method="POST" enctype="multipart/form-data" action="/profile-image?_method=PUT">
              <div class="form-group">
                <label for="profile-imge" class="form-control-label">Profile Image:</label>
                <div class="alert alert-secondary" role="alert">
                  <input type="file" class="form-control-file" name="profile_image" id="profile_image" required> 
                </div><!--/.alert-->       
              </div><!--/.form-group-->
              <input type="hidden" value="{{{user.id}}}" id="id" name="id">
              <button id="update-profile-image" type="submit" class="btn btn-block btn-primary">Update Profile Image</button>
            </form>

            <div class="alert alert-success alert-imge d-none" role="alert">Your Profile image has been updated</div><!-- /.alert --> 
          </div><!-- /.card -->
        </div><!-- /.col -->

        <div class="col-sm-12 col-lg-8">
          <h2 class="h5 text-uppercase">Add Products</h2>

            <div class="alert alert-success alert-image d-none" role="alert">The following product {{this.productName}} has been added to your store</div><!-- /.alert --> 

            <form id="add-products-form" action="/addProducts" enctype="multipart/form-data" method="POST">
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="productName">Product Name</label>
                    <input type="text" class="form-control" name="productName" id="product-name" placeholder="Example: Dell Computer" required>
                  </div><!--/.form-group -->
                </div><!-- /.col -->

                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="category">Category</label>
                    <select class="custom-select" name="category" id="product-category" required style="display: block; width: 100%;">
                      <option selected>Choose a Category</option>
                      <option value="Books">Books</option>
                      <option value="Movies">Movies</option>
                      <option value="Computers">Computers</option>
                      <option value="Smartphones">Smartphones</option>
                      <option value="Tvs">Tv's</option>
                      <option value="Toys">Toys</option>
                      <option value="other">Other</option>
                    </select>
                  </div><!--/.form-group-->
                </div><!-- /.col -->

                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="price">Price</label>
                    <div class="input-group">
                      <span class="input-group-addon">$</span>
                      <input type="text" class="form-control" id="product-price" placeholder="00.00" name="price" required>
                    </div>
                  </div><!--/.form-group-->
                </div><!-- /.col -->
              </div><!--/.row -->

              <div class="form-group">
                <label for="description">Product Description</label>
                <textarea class="form-control" id="product-description" rows="10" name="description" placeholder="Enter Product Description" required></textarea>
              </div><!--/.form-group-->

              <div class="form-group">
                <label for="imageURL">Product Image</label>
                <div class="alert alert-secondary" role="alert">
                  <input type="file" name="imageURL" class="form-control-file" id="image-url" required>  
                </div><!--/.alert-->       
              </div><!--/.form-group-->

              <input type="hidden" value="{{{user.id}}}" id="id" name="userID">
              <button type="submit" class="btn btn-primary text-uppercase" id="addProduct">Add Product</button>
            </form>

        </div><!-- /.col -->

      </div><!-- /.row -->
    </div><!-- /.container -->
  </section><!-- /.section -->