  <div class="container-fluid bg-light">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-xl-8">
        <div id="carousel" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carousel" data-slide-to="0" class="active"></li>
            <li data-target="#carousel" data-slide-to="1"></li>
            <li data-target="#carousel" data-slide-to="2"></li>
            <li data-target="#carousel" data-slide-to="3"></li>
            <li data-target="#carousel" data-slide-to="4"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <a href="category/movies"><img class="d-block w-100" src="images/movies-carousel.jpg" alt="Movies"></a>
            </div><!--/.carousel-item -->
            <div class="carousel-item">
              <a href="category/smartphones"><img class="d-block w-100" src="images/phones-carousel.jpg" alt="Phones"></a>
            </div><!--/.carousel-item -->
            <div class="carousel-item">
              <a href="category/computers"><img class="d-block w-100" src="images/computer-banner.jpg" alt="Computers"></a>
            </div><!--/.carousel-item -->
             <div class="carousel-item">
               <a href="category/books"><img class="d-block w-100" src="images/books-carousel.jpg" alt="Books"></a>
            </div><!--/.carousel-item -->
          </div><!--/.carousel-inner -->
          <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div><!-- /.carousel -->
      </div><!-- /.col-->
    </div><!-- /.row-->
  </div><!-- /.container-fluid -->

  <section class="section section-featured-products">
    <div class="container">
    
      <h1 class="text-center h5 text-uppercase">Featured Products</h1>
      <p class="lead text-center">Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus. </p>

      <div class="row">

        {{#each product}}
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="card card-product">
              <a href="/product/{{this.id}}"><img class="card-img-top" src="/uploads/products/{{this.imageURL}}" alt="{{this.productName}}"></a>
              <div class="card-body">
                <h6 class="card-title">{{this.productName}}</h6>
                <p>${{this.price}}</p>
                <a href="/product/{{this.id}}" class="btn btn-info btn-sm">View Product &rarr;</a>
              </div><!-- /.card-body -->
              <div class="card-footer">
                <small class="text-muted">User: <a href="/store/{{this.User.userName}}">{{this.User.userName}}</a></small>
              </div><!-- /.card-footer -->
            </div><!-- /.card -->
          </div><!-- /.col -->
        {{/each}}

      </div><!-- /.row -->
    </div><!-- /.container -->
  </section><!-- /.section -->

  <section class="section section-featured-categories bg-light">
    <div class="container-fluid">
      <h1 class="text-center h5 text-uppercase">Shop By Category</h1>
      <p class="lead text-center">View the latest deals in Movies and check out the latest Smartphones.</p>
      
      <div class="row justify-content-center">
          
        <div class="col-sm-12 col-xl-5">
          <div class="media media-category">
            <a href="category/movies"><img class="d-flex align-self-center mr-3" src="images/category-movies.jpg" alt="Movies"></a>
            <div class="media-body">
              <h5 class="mt-0">Movies</h5>
              <p>Limited-Time Deals in Movies & TV.</p>
              <a href="category/movies">Shop Movies &rarr;</a>
            </div><!-- /.media-body -->
          </div><!-- /.media -->
        </div><!-- /.col -->
        
        <div class="col-sm-12 col-xl-5">
          <div class="media media-category">
            <a href="category/smartphones"><img class="d-flex align-self-center mr-3" src="images/category-phones.jpg" alt="Smartphones"></a>
            <div class="media-body">
              <h5 class="mt-0">Smartphones</h5>
              <p>New Smartphones, Checkout the latest deals!!!</p>
              <a href="category/smartphones">Shop Smartphones &rarr;</a>
            </div><!-- /.media-body -->
          </div><!-- /.media -->
        </div><!-- /.col -->
          
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </section><!-- /.section -->