<header class="page-header bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <a href="/store/{{{product.User.userName}}}" class="btn btn-primary float-right">View Store</a>
        <h1 class="h4 text-uppercase">{{{product.User.userName}}}'s Store</h1>
      </div><!-- /.col-->
    </div><!-- /.row-->
  </div><!-- /.container-->
</header><!-- /.page-header-->

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-sm-4"> 
        <img src="/uploads/products/{{product.imageURL}}" class="img-fluid">
      </div><!-- /.col -->
      <div class="col-sm-8">
        <h2>{{product.productName}}</h2>
        <hr style="clear: both; width: 100%;">
        <h3 class="text-uppercase h4">Product Details</h3>
        <p>{{product.description}}</p>
        <h3 id="price-header" class="text-uppercase h4">Price: ${{product.price}}</h3>

        <a href="/category/{{product.category}}" class="badge badge-secondary">{{product.category}}</a>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.section -->

<section class="section bg-light">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h4 class="contact-title text-center text-uppercase" id="userModalLabel">{{{product.User.name}}} Contact Info</h4>
        <p><strong>Name:</strong>  {{{product.User.name}}}<br>
          <strong>Phone Number:</strong> {{{product.User.phone}}}<br>
          <strong>Email:</strong> <a href="mailto:{{{product.User.email}}}">{{{product.User.email}}}</a></p>

        <p><strong>Store Location:</strong> {{{product.User.location}}}</p>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <h4 class="contact-title text-center text-uppercase" id="userModalLabel">Send a Message to {{{product.User.name}}}</h4>
        <div class="alert alert-success alert-profile d-none" role="alert">Your message has been sent!</div>
        <form>
          <div class="form-group">
            <label for="recipient-name" class="form-control-label">Recipient:</label>
            <input type="text" class="form-control" id="to" value="{{{product.User.email}}}">
          </div><!-- /.form-group -->
          <div class="form-group">
            <label for="message-text" class="form-control-label">Message:</label>
            <textarea class="form-control" id="content"></textarea>
          </div><!-- /.form-group -->
          <button type="button" class="btn btn-primary btn-block" id="send_email">Send message</button>
        </form>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.section -->
