<h2 class="h5 text-uppercase">Edit User Profile</h2>

<div class="alert alert-success alert-profile d-none" role="alert">Your Profile has been updated</div><!-- /.alert --> 

<form id="edit-profile-form" method="POST" action="/user?_method=PUT">
  <div class="row">
    <div class="col-sm-12 col-lg-6">
      <div class="form-group">
        <label for="first-name" class="form-control-label">First Name:</label>
        <input type="text" class="form-control" name="name" id="name" placeholder="Name" value="{{user.name}}" required>
      </div><!-- /.form-group -->  
    </div><!-- /.col -->
    <div class="col-sm-12 col-lg-6">
      <div class="form-group">
        <label for="email" class="form-control-label">Email:</label>
        <input type="text" class="form-control" name="email" id="email" placeholder="Email" value="{{user.email}}" required>
      </div><!-- /.form-group -->
    </div><!-- /.col -->
    <div class="col-sm-12 col-lg-6">
      <div class="form-group">
        <label for="phone-number" class="form-control-label">Phone Number:</label>
        <input type="text" class="form-control" nam="phone_number" id="phone_number" placeholder="555-555-5555" value="{{user.phone}}" required>
      </div><!-- /.form-group -->
    </div><!-- /.col -->
    <div class="col-sm-12 col-lg-6">
      <div class="form-group">
        <label for="location" class="form-control-label">Location:</label>
        <input type="text" class="form-control" name="location" id="location" placeholder="Irvine, CA" value="{{user.location}}" required>
      </div><!-- /.form-group -->
    </div><!-- /.col -->
    <div class="col-sm-12 col-lg-6">
      <div class="form-group">
        <label for="username" class="form-control-label">Username/Storename:</label>
        <input type="text" class="form-control" name="user_name" id="user_name" placeholder="Username" value="{{user.userName}}" required>
      </div><!-- /.form-group -->        
    </div><!-- /.col -->
    <div class="col-sm-12 col-lg-6">
      <div class="form-group">
        <label for="password" class="form-control-label">Password:</label>
        <input type="password" class="form-control" name="password" id="password" placeholder="Password" value="{{user.password}}">
      </div><!-- /.form-group -->
    </div><!-- /.col -->
  </div><!-- /.row -->
  <input type="hidden" value="{{user.id}}" id="id" name="id">
  <button id="update-profile" type="submit" class="btn btn-primary">Update Profile</button>
</form>